# [Docker 추가] 컨테이너 빌드 시 제외할 파일/폴더

# Node
node_modules
npm-debug.log

# IDE/OS
.vscode
.idea
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker 본인
Dockerfile.*
docker-compose*.yml
.dockerignore

# 빌드 산출물
dist
build

# 기타
.env
.env.local
README.md
